<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>net.zhusee2.extensions.nextmedia5</string>
       <key>Developer Identifier</key>
       <string>RMKWK5S4J4</string>
       <key>CFBundleVersion</key>
       <string>10</string>
       <key>CFBundleShortVersionString</key>
       <string>1.5</string>
       <key>URL</key>
       <string>https://github.com/zhusee2/NextMedia5/raw/master/NextMedia5.safariextz</string>
     </dict>
   </array>
</dict>
</plist>
