<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Zhusee</string>
	<key>Builder Version</key>
	<string>7534.52.7</string>
	<key>CFBundleDisplayName</key>
	<string>NextMedia5</string>
	<key>CFBundleIdentifier</key>
	<string>net.zhusee2.extensions.nextmedia5</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4</string>
	<key>CFBundleVersion</key>
	<string>9</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>zepto.min.js</string>
				<string>initialize.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>video.css</string>
		</array>
		<key>Whitelist</key>
		<array>
			<string>http://tw.nextmedia.com/*/article/*</string>
			<string>http://tw.nextmedia.com/animation/iplayer/*</string>
			<string>http://hk.dv.nextmedia.com/template/dv_channel/*</string>
			<string>http://www.nexttv.com.tw/vod/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>HTML5 player for NextMedia animated news</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>tw.nextmedia.com</string>
				<string>hk.dv.nextmedia.com</string>
				<string>www.nexttv.com.tw</string>
			</array>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://github.com/zhusee2/NextMedia5/raw/master/update.plist</string>
	<key>Website</key>
	<string>http://zhusee2.github.net/nextmedia5/</string>
</dict>
</plist>
