.nextmedia5Container, .nextmedia5Container > * {
  position: relative;
}

.nextmedia5Container #nextmedia5Player {
  width: 100%;
  top: 0;
  left: 0;
}

.nextmedia5Container #nextmedia5PlayButton {
  width: 128px;
  height: 128px;
  background: rgba(255,255,255,.7);
  top: -50%;
  left: 50%;
  margin-top: -64px !important;
  margin-left: -64px !important;
  -webkit-border-radius: 64px;
  -webkit-box-shadow: inset 0 -78px 4px -24px rgba(0,0,0,.1);
}

.nextmedia5Container #nextmedia5PlayButton a {
  width: 100%;
  height: 100%;
  color: rgba(0,0,0,.75) !important;
  font-size: 100px;
  line-height: 128px;
  text-align: center;
  text-decoration: none;
  display: block;
  -webkit-transform: rotate(90deg) scaleY(0.8) translateY(-0.1em);
}
.nextmedia5Container #nextmedia5PlayButton:hover {
  background: rgba(255,255,255,.8);
}